<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="/static/css/registro.css">
</head>
<body>
  <div class="container">
    <h1>Registro</h1>
     <form method="POST">

      <select id="idioma" name="idioma">
        <option value="" {% if idioma == '' %}selected{% endif %}>Selecciona un idioma</option>
        <option value="es" {% if idioma == 'es' %}selected{% endif %}>Español</option>
        <option value="en" {% if idioma == 'en' %}selected{% endif %}>Inglés</option>
      </select>
      {% if errores.get('idioma') %}
        <span class="error">{{ errores['idioma'] }}</span>
      {% endif %}

      <input type="text" name="nombre" placeholder="Nombre" value="{{ nombre or '' }}">
      {% if errores.get('nombre') %}
        <span class="error">{{ errores['nombre'] }}</span>
      {% endif %}

      <input type="text" name="apellidos" placeholder="Apellidos" value="{{ apellidos or '' }}">
      {% if errores.get('apellidos') %}
        <span class="error">{{ errores['apellidos'] }}</span>
      {% endif %}

      <input type="number" name="identificacion" placeholder="Identificación" value="{{ identificacion or '' }}">
      {% if errores.get('identificacion') %}
        <span class="error">{{ errores['identificacion'] }}</span>
      {% endif %}

      <input type="number" name="telefono" placeholder="Teléfono" value="{{ telefono or '' }}">
      {% if errores.get('telefono') %}
        <span class="error">{{ errores['telefono'] }}</span>
      {% endif %}

      <input type="email" name="email" placeholder="Email" value="{{ email or '' }}">
      {% if errores.get('email') %}
        <span class="error">{{ errores['email'] }}</span>
      {% endif %}

      <input type="password" name="contrasena" placeholder="Contraseña">
      {% if errores.get('contrasena') %}
        <span class="error">{{ errores['contrasena'] }}</span>
      {% endif %}

      <input type="password" name="confirmarContrasena" placeholder="Confirmar Contraseña">
      {% if errores.get('confirmar') %}
        <span class="error">{{ errores['confirmar'] }}</span>
      {% endif %}

      <input type="text" name="NombreUsuario" placeholder="Nombre de Usuario" value="{{ nombre_usuario or '' }}">
      {% if errores.get('nombre_usuario') %}
        <span class="error">{{ errores['nombre_usuario'] }}</span>
      {% endif %}

      <button type="submit">Registrar</button>
    </form>
  </div>
</body>
</html>